@media screen and (max-width:1004px) {
    .menu {
        display: none;
    }

    .logo {
        text-align: center;
        margin: 0;
    }

    .navbar {
        position: relative;
    }

    .header {
        padding: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .whats {
        display: none;
    }

    .card {
        width: 100%;
    }

    section {
        margin-top: 10px;
    }
}